.body {
  font-family: Montserrat;
  font-weight: 400;
  width: 100%;
  position: relative;
}
.home-header {
  background-color: rgba(94, 93, 88, 0.6);
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 50;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1160px;
  /* max-width: 1160px; */
  margin-left: auto;
  margin-right: auto;
}

.home-logo {
  position: relative;
  margin: 27px 0;
}
.link-logo {
  display: flex;
  align-items: center;
}

.logo-h {
  position: absolute;
  color: #fff;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 31px;
  left: 13px;
}
.logo-the-ham {
  color: #fff;
  font-family: Montserrat;
  font-size: 32px;

  font-weight: 400;
  line-height: 48px;
  margin-left: 6px;
}
.logo-ham {
  color: #18cfab;
  font-weight: 700;
  padding: 0;
}

.home-menu {
  display: flex;
  flex-direction: row;
  gap: 21px;
}
.home-menu-item {
  color: rgba(255, 255, 255, 0.6);
  position: relative;
  font-family: Montserrat;
  flex-direction: row;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}
.home-menu-link {
  color: rgba(255, 255, 255, 0.6);
}
.home-menu-link:hover {
  /* content: ''; */
  /* position: absolute; */
  padding-bottom: 50px;
  border-bottom: 2px solid #18cfab;
  transition: 0.2s ease-in-out;
}
.header-section {
  background: url("../img/Sections-background/section-header.jpg"),
    lightgray 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh; */
}

.wrapper-section {
  padding-top: 366px;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
}
.home-title {
  text-align: center;
  font-family: Montserrat;
  font-size: 35px;
  font-weight: 700;
  /* line-height: 1px; */
  text-transform: uppercase;
  color: #fff;
}
.home-title-span {
  color: #18cfab;
}
.home-title-two {
  font-family: Montserrat;
  font-size: 78px;
  font-weight: 700;
  /* line-height: 1px; */
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin: 22px 0;
  padding: 0;
}
.home-subtext {
  text-align: center;
  font-family: Montserrat;
  font-size: 34px;
  font-weight: 400;
  color: #d4d4d4;
}
.button-home {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 135px;
  gap: 26px;
  padding-bottom: 250px;
} /*
.button-explore {
  border: 0;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 15px;
  width: 169px;
  height: 63px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  background-color: #18cfab;
  border-radius: 5px;
  box-shadow: 0px -5px 0px 0px white;
}

.button-purchase {
  border: 0;
  background-color: #00CBF6;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 15px;
  width: 169px;
  height: 63px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 0px -5px 0px 0px white;
} */

.button-explore {
  width: 169px;
  height: 63px;
  align-items: center;
  display: flex;
  justify-content: center;
  background: #18cfab;
  border-radius: 4px;
  color: #fff;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  box-shadow: 0px -5px 0px 0px white;
}
.button-purchase {
  width: 169px;
  height: 63px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #00cbf6;
  border-radius: 4px;
  color: #fff;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  box-shadow: 0px -5px 0px 0px white;
}
.home-option {
  position: relative;
}
.option {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
}

.option-item {
  margin-top: 8px;
  background-color: #1c2a33;
  width: 100%;
  height: 377px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  gap: 60px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: normal;
  color: #18cfab;
}
.option-item:nth-child(2n) {
  background-color: #18cfab;
  color: #fff;
  gap: 80px;
}

.services-title {
  position: relative;
  padding-top: 85px;
  color: #4e4e4e;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}
/* .services-title::before {
  content: '';
  margin-top: 2px;
  left: 48%;
}
.services-title::after,
.section-title::before {
  display: block;
  position: absolute;
  content: " ";
  background: #18cfab;
  width: 45px;
  height: 1px;
  top: 50%;
} */

.services-menu {
  margin-top: 100px;
}

.services-menu-list {
  display: flex;
  justify-content: center;
}

.services-menu-item {
  display: flex;
  width: 192px;
  height: 72px;
  align-items: center;
  justify-content: center;
  border: 1px solid #edefef;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 39px;
  cursor:a;
}
.services-menu-item a {
  color: #717171;
}
.services-menu-item:hover {
  border: 1.5px solid #18cfab;
}
.services-menu-item:active {
  background-color: 18CFAB;
}
